{% load static %}
{% load extra_tag %}

<!DOCTYPE html>
<html lang="en">
	<head><base href=""/>
		<title>SITAMPAN</title>
		<meta charset="utf-8" />
		<meta name="description" content="SITAMPAN HITAM MANIS" />
		<meta name="keywords" content="MBKM, SITAMPAN, UNTAD, TADULAKO, HITAM MANIS" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="shortcut icon" href="{% static 'media/logos/icon.png' %}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />	
		<style>	
			#messages{
				padding: 10px;
				margin-top: 10px;
				color: black;
				font-size: medium;
			}
		</style>
	</head>
	
	<body id="kt_body" class="bgi-size-cover bgi-position-center bgi-no-repeat bgi-attachment-fixed">
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if ( localStorage.getItem("data-theme") !== null ) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }
		</script>
		<div class="d-flex flex-column flex-root" id="kt_app_root">
			<style>
				body { background-image: url("{% static 'media/auth/bg4.jpg' %}"); }
				[data-theme="dark"] body { background-image: url("{% static 'media/auth/bg4-dark.jpg' %}"); }
			</style>
			<div class="d-flex flex-column flex-column-fluid flex-lg-row">
				<div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
					<div class="d-flex flex-center flex-lg-center flex-column">
						<a href="#!" class="mb-7">
							<img alt="Logo" src="{% static 'iconbawah.png' %}" />
						</a>
						<h3 class="text-white text-center fw-bold m-0">PUSBANG MBKM UNTAD</h3>
						<div class="center">
							<h6 class="text-white text-center fw-normal mb-2">Supported By</h6>
							<img alt="Logo" src="{% static 'media/logos/pkkm-iss.jpg' %}" width="220px"/>
						</div>
					</div>
				</div>
				
				<div class="d-flex flex-column justify-content-center align-items-center w-lg-50 p-10">
					<div class="card rounded-3 w-md-550px shadow-sm p-3">
						<div class="card-body p-10 p-lg-10">
							<form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" data-kt-redirect-url="#" method="POST" action="">
								{% csrf_token %}
								<div class="text-center mb-11">
									<h1 class="text-dark fw-bolder mb-3">Log In</h1>
									<div class="text-gray-500 fw-semibold fs-6">Temukan Bakat dan Minatmu Untuk Masa Depan</div>
								</div>
								<div class="separator separator-content my-14">
									<span class="w-125px text-gray-500 fw-semibold fs-7">SITAMPAN</span>
								</div>
								<div class="fv-row mb-8">
									<input type="text" placeholder="Username" name="username" id="username" autocomplete="off" class="form-control bg-transparent" />
								</div>
								<div class="fv-row mb-3">
									<input type="password" placeholder="Password" name="password" autocomplete="off" class="form-control bg-transparent" />
								</div>
								<div class="d-flex justify-content-center align-items-center gap-3 fs-base fw-semibold mb-4">

									<a href="https://mbkm.untad.ac.id/panduan-login-sitampan/" class="link-primary">Lihat Panduan Login</a>
									<span class='text-dark'>&nbsp; atau &nbsp;</span>
									<a href="https://wa.me/6285161055918?text=Halo%20kak.%0A%0APerkenalkan%20nama%20saya%20%3A%20.........%20%0Adengan%20stambuk%20%3A%20..........%0A%0AMohon%20izin%20untuk%20mengganti%20password%20saya%2C%20dikarenakan%20saya%20lupa%20dengan%20password%20saya%20sebelumnya.%0ATerimakasih" class="link-primary">Lupa Password ?</a>

								</div>
								<div class="d-grid mb-0">
									<!-- <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
										<span class="indicator-label">Sign In</span>
										<span class="indicator-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
									</button> -->
									<button type="submit" class="btn btn-primary">
										<i class="bi bi-shield-lock fs-2"></i><span class="indicator-label">Sign In</span>
									</button>
								</div>
								
							</form>
						</div>
						<div class="text-gray-500 text-center fw-semibold fs-6">Belum Punya Akun?</div>
						<div class="card-footer p-4 text-center">
							<a href="{% url 'register-mahasiswa' %}" class="text-primary-100 text-center fw-semibold">
								Daftar sebagai Mahasiswa
								<i class='bi bi-mortarboard-fill fs-4'></i>
							</a>
							<span>&nbsp; atau &nbsp;</span>
							<a href="{% url 'register-dosen' %}" class="text-primary-100 text-center fw-semibold">
								Daftar sebagai Dosen
								<i class='bi bi-mortarboard fs-4'></i>
							</a>
						</div>
					</div>
					<div class="mt-5">
						<div class="text-gray-500 text-center fw-semibold fs-6">Belum Mengerti Penggunaan SITAMPAN?</div>
						<div>
							<a href="https://mbkm.untad.ac.id/download/buku-panduan-sitampan/" target='_blank' class="text-primary-100 text-center fw-semibold">
								Baca Buku Panduan 
								<i class='bi bi-book fs-4'></i>
							</a>
							<span class='text-white'>&nbsp; atau &nbsp;</span>
							<a href="https://youtu.be/s9yMPizB0lM" target='_blank' class="text-primary-100 text-center fw-semibold">
								Nonton Video Tutorial 
								<i class='bi bi-youtube fs-4'></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		<script src="{% static 'js/custom/authentication/sign-in/general.js' %}"></script>

		<script>
			{% for msg in messages %}
				{% if msg.tags == "" %}
				{% elif msg.tags == "success" %}
				Swal.fire({
					icon: 'success',
					title: 'Sukses',
					text: '{{ msg }}',
					timer: 1700,
					showConfirmButton: false,
				});
				{% elif msg.tags == 'warning' %}
				Swal.fire({
					icon: 'warning',
					title: 'Warning',
					text: '{{ msg }}',
					timer: 2500,
					showConfirmButton: false,
				});
				{% elif msg.tags == 'error' %}
				Swal.fire({
					icon: 'error',
					title: 'Error',
					text: '{{ msg }}',
					timer: 2500,
					showConfirmButton: false,
				});
				{% endif %}

			{% endfor %}
		</script>
	</body>
</html>