{% load static %}

<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
    <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true" style="height: 575px;">
        <div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
            <div class="menu-item">
                <a class="menu-link" href="#">
                    <span class="menu-icon">
                        <span class="svg-icon svg-icon-2">
                            <i class="bi bi-house-door fs-2"></i>
                        </span>
                    </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </div>
            
                        
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <span class="svg-icon svg-icon-2">
                            <i class="bi bi-layers-half fs-2"></i>
                        </span>
                    </span>
                    <span class="menu-title">Surat</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item">
                        <a class="menu-link" href="#">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Surat Masuk</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" href="#">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Surat Keluar</span>
                        </a>
                    </div>                   
                </div>
            </div>
            
   
            <div class="menu-item">
                <a class="menu-link" href="#">
                    <span class="menu-icon">
                        <span class="svg-icon svg-icon-2">
                            <i class="bi bi-box-arrow-right fs-2"></i>
                        </span>
                    </span>
                    <span class="menu-title">Keluar</span>
                </a>
            </div>
            
        </div>
        <!--end::Menu-->
    </div>
    <!--end::Menu wrapper-->
</div>